# Integers
INTEGER

TILE_SIZE;128;
ASSETS_TILE_SIZE;32;
GLOBAL_SCREEN_WIDTH;3840;
GLOBAL_SCREEN_HEIGHT;2176;
PLAYER_WATCH_RADIUS;50;
START_ZONE_WIDTH;600;
START_ZONE_HEIGHT;400;
SCOREBOARD_HEIGHT;50;
TEXT_SIZE;16;
MAX_ENEMIES;1;


# Floats
FLOAT
GAP_SIZE;0.f;
BUTTON_HEIGHT;20.f;
BUTTON_WIDTH;80.f;

#Vector2F
VECTOR2F
BLUNTWEAPON_START_POSITION;1200;1200;

INVENTORY_POSITION;600;600;